.stocks {
  grid-area: m;
}

.search input {
  height: 48px;
  width: 300px;
  font-size: larger
}

.selectStock {
  display: flex;
  justify-content: space-around;
  height: 80px;
  border-bottom: 1px solid gray;
  text-decoration: none;
  color: black
} 

#price {
  display: flexbox;
  width: 60px;
  background-color: #2ECC71;
  padding: 5px 5px 0px 5px;
  align-content: center;
  height: 25px;
  font-size: medium;
  border-radius: 10%
  
}
 .active {
  background-color: white;
 text-decoration-color: black
}