.header {
    grid-area: h;
    position: fixed;
    background: #2ECC71; 
    width: 170px;  
    margin-bottom: 5px;
  }
  .header img {
    padding-left: 46px;
    height: 50px;
    width: 50px
  }