.App {
  min-height: 100vh;
  background :gainsboro;
  padding: 0 ;
  display: grid;
  grid-template-rows: 50px 700px;
  grid-template-columns: 150px 2fr 10fr ;
  grid-template-areas:
   "h m s " 
  " n m s ";
}
